<div class="container">
  <ul class="pagination pull-right">
      <li ng-class="{disabled: currentPage == 0}">
          <a href ng-click="prevPage()">« Prev</a>
      </li>
      <li ng-repeat="n in range(pagedPosts.length)" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
          <a href ng-bind="n + 1">1</a>
      </li>
      <li ng-class="{disabled: currentPage == pagedPosts.length - 1}">
          <a href ng-click="nextPage()">Next »</a>
      </li>
  </ul>
  <div class="row-fluid">
    <section ng-repeat="post in pagedPosts[currentPage]" class="post">
        <div class="row">
            <div class="col-md-10">
                <h1 ng-bind-html="post.title"></h1>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-1">
              <p><strong>{{ post.date | date:'M.d.yy'}}</strong></p>
            </div>
            <div class="col-xs-6 col-md-1">
                <img src="{{post.author.avatar_URL}}" alt="Profile of {{post.author.first_name}}" class="img-rounded" />

                <p><small>{{post.author.first_name}} {{post.author.last_name}}</small></p>
            </div>

            <div class="col-md-8" ng-bind-html="post.content"></div>

            <div class="col-md-2">
                <div class="cats">
                    <p>Categories:</p>
                    <ul class="list-group">
                      <li ng-repeat="cat in post.categories" class="list-group-item">
                        <a href="{{cat.meta.links.self}}">{{cat.name}}</a>
                      </li>
                    </ul>
                </div>
                <div class="tags">
                    <p>Tags:</p>
                    <ul class="list-group">
                        <li ng-repeat="tag in post.tags" class="list-group-item">
                          <a href="{{tag.meta.links.self}}">{{tag.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
  </div>
</div>
